SRC_DB_HOST=localhost
SRC_DB_PORT=5432
SRC_DB_NAME=source_db_name
SRC_DB_USER=your_source_db_user
SRC_DB_PASSWORD=your_source_db_password

DW_DB_HOST=localhost
DW_DB_PORT=5432
DW_DB_NAME=data_warehouse_name
DW_DB_USER=your_dw_user
DW_DB_PASSWORD=your_dw_password

SNAPSHOT_DATE=2025-12-31